@page
@model Accountancy.Views.HouseViewModel

@{
    ViewData["Title"] = "HouseView";
}

@using Accountancy.Models;

<h2>HouseView</h2>

<table class="table">
    <thead>
        <tr>
            <th>Household</th>
            <th>Bills</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HouseholdModel)
        {
        <tr>

            <td>
                @Html.DisplayFor(bg => item.ID)
            </td>
            @if (item.Invoices != null)
            {

                @foreach (var bill in Model.Bills)
                {
                    if (bill.HouseholdModelID == item.ID)
                    {
                        <td>
                            @Html.DisplayFor(b => bill.NetVal)
                            @Html.DisplayFor(f => bill.BillCategory)
                        </td>
                    }
                }

            }



        </tr>
        }
    </tbody>
</table>
